

.bg-color {
    background-color: #1a202c;
}


ul li{
    background-color: #d8d8d8 !important;
}

ul li:nth-child(odd){
    background-color: #444444 !important;
    color: rgb(255, 255, 255) !important;
}

.close {
    cursor: pointer;
    position:absolute;
    top:0;
    right: 0;
    margin-top: 8px;
    color: rgb(0, 0, 0) !important;
}



/* 
.close:hover {
    background-color: #ffc107 ;
} */