body{
    margin: auto;
    background-color: darkolivegreen;
}

.container {
    text-align: center;
    background-color: coral;
    width: 640px;
    padding: 60px;
    border-radius: 60px;
    margin: 40px auto;
}

.container input[type="number"] {
    height: 40px;
    border-radius: 15px;
    text-align: right;
    border: none;
}

.container input[type="number"]:focus {
    outline: none;
}

.container button{
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: none;
}

.numbers {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}