.bg-color {
    background-color: #ffffff;
}


.bg-form {
    background-color: #705f5f;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    color: white;
}

.input-color {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
}