h1, h4 {
    text-align: center;
    color: #F4F9E9;
}

body{
    background-color: #153243;
}

.list-group-item{
    background-color: #F4F9E9;
}

#btn-add {
    width: 19%;
    background-color: #B4B8AB;
    border: none;
}

#input-task{
    border: none;
    outline: none;
    width: 80%;
}

#input-task:focus {
    border: none;
    outline: none;
}

.close {
    float: right;
    cursor: pointer;
}

#selection {
    width: 100%;
    margin-top: 3%;
    background-color: #EEF0EB;
    border: none;
    outline: none;
}

.list-group-item {
    /* cursor: pointer; */
}

.list-group-item.clicked {
    text-decoration: line-through;
    background-color: #B4B8AB;
}