* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #000;
}

/* NAVBAR CSS */
.navbar {
  background-color: #1d2226;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.navbar > ul > li > a {
  color: #f0f0f0;
  font-size: 2.5rem;
}

.navbar > ul > li > a > img {
  width: 2.5rem;
  border-radius: 50%;
}

/* NAVBAR CSS */

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-page {
  margin-top: 5rem;

  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-position {
  width: 60rem;
}

.content {
  min-width: 60rem;
}

/* PROFİLE CSS */
.profile > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 25vh;
  margin-top: 1.6rem;
  background-color: #1d2226;
  position: relative;
  padding: 0.6rem;
  color: #f0f0f0;
}

.profile > .container > img {
  border-radius: 50%;
  width: 10rem;
  z-index: 2;
}

.empty-space {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35%;
  background-color: gray;
  z-index: 1;
}

.info {
  margin-top: 2rem;
}

.info > h5 {
  font-size: 2.5rem;
}

.info > span {
  font-size: 2rem;
}

/* SENDPOST CSS BAŞLANGIÇ */
.send-post {
  margin-top: 1rem;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2226;
}

.send-post > .input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.send-post > .input > img {
  width: 5rem;
  border-radius: 50%;
}

.send-post > .input > input {
  border: 0.6px solid #f0f0f0;
  border-radius: 50px;
  background-color: transparent;
  width: 75%;
  padding: 1.6rem;
  color: #f0f0f0;
}

.media-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.media-buttons > ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
}

.media-buttons > ul > li > a {
  color: #70b5f9;
  text-decoration: none;
}

.media-buttons > ul > li > a > span {
  color: #f0f0f0;
  text-decoration: none;
}
/* SEND POST CSS BİTİŞ */

/* POSTS CSS BAŞLANGIÇ */
.posts {
  display: flex;
  flex-direction: column;
}

.post {
  margin: 1rem 0rem;
  background-color: #1d2226;
}

.post > .post-header {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
}

.post > .post-header > img {
  width: 4.5rem;
}

.post-header > .header-text {
  margin-left: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-text > a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.4rem;
}

.header-text > span {
  margin-top: 0.6rem;
  color: #f0f0f09a;
  font-size: 1.2rem;
}

.post-header > a {
  color: #f0f0f0;
  font-size: 2rem;
  margin-left: auto;
}

.post-text {
  padding: 0rem 1rem;
}

.post-text > span {
  color: #f0f0f0;
  font-size: 1.2rem;
}

.post-img {
  width: 100%;
  margin-top: 1rem;
}

.post-img > img {
  width: 100%;
  object-fit: fill;
}

.post-footer {
  display: flex;
  flex-direction: column;
}

.post-footer > .counter {
  padding: 1rem 2.4rem;
}

.border {
  align-self: center;
  width: 90%;
  height: 1px;
  background-color: #f0f0f062;
}

.post-footer > .counter > span {
  font-size: 1.4rem;
  color: #f0f0f0;
}

.post-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.post-buttons > button {
  background-color: transparent;
  color: #f0f0f0;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 25%;
  font-size: 1.3rem;
  border-radius: 5px;
}

.post-buttons > button:hover {
  background-color: #76777760;
}
/* POSTS CSS BİTİŞ */

/* responsive media quaries */

@media screen and (min-width: 600px) {
  .content {
    padding: 0px 10%;
  }

  .profile > .container {
    border-radius: 5px;
  }

  .send-post {
    border-radius: 5px;
  }

  .post {
    border-radius: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar > ul {
    width: 60%;
  }

  .content-container {
    height: 100vh;
  }

  .content {
    min-width: 60rem;
  }

  .container-page {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 0px 10rem;
  }

  .left-position {
    margin-right: -4rem;
    min-width: 20rem;
  }
}
